root {
  color: #16fafb;
}
* {
  color: skyblue;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

/* start navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background: linear-gradient(50deg, #007bff 20%, white 80%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.logo a {
  display: block;
  width: 120px;
}
.logo-img {
  max-width: 80%;
  height: 100%;
  display: block;
}
.navbar .navbar-nav a {
  color: rgb(55, 0, 255);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: skyblue;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #16fafb;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.nav-links {
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: white;
  width: 30rem;
  height: 100vh;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown i {
  padding-left: 10px;
}
/* Dropdown button */
.dropdown button {
  background-color: transparent;
  color: rgb(55, 0, 255);
  padding: 10px 0.5rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect pada button dropdown */
.dropdown button:hover {
  background-color: transparent;
  color: skyblue;
}
.dropdown button::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #16fafb;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.dropdown button:hover::after {
  transform: scaleX(0.5);
}
/* Dropdown menu yang disembunyikan secara default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 140px;
  z-index: 1;
  border-radius: 10px;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 140px;
  z-index: 1;
  margin-top: -0.5rem;
}
.dropbtn1 {
  margin-left: 0.5rem;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}
/* Item-item dalam dropdown */
.dropdown-content a {
  color: silver;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

/* Hover effect untuk item di dalam dropdown */
.dropdown-content a:hover {
  background-color: transparent;
  color: skyblue;
}

/* Menampilkan dropdown saat hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.hamburger .bar,
.x {
  inset: 1.6rem;
  margin-left: auto;
  position: absolute;
  width: max-content;
  height: max-content;
  font-size: 2rem;
  transition: opacity 0.1s, transform 0.4s;
}
.x {
  margin-right: 1px;
}
/* end navbar */
.hero img {
  width: 100%;
  position: relative;
  z-index: -1;
}
/* hero start */
/* .cctv {
  min-height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(gambar/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}
.cctv .content h1 {
  padding-left: 2rem;
  width: 100%;
  font-size: 2.5em;
  color: white;
  text-shadow: 1px 1px 3px rgb(1, 1, 1 / 1.5);
  line-height: 1;
}

.cctv .content h1 span {
  color: skyblue;
}
.slider {
  margin-left: 2rem;
  position: absolute;
  font-size: 2rem;
  transform: translate(-50 -50);
  height: 60px;
  overflow: hidden;
}
.cctv .content .slider .line {
  color: aliceblue;
  text-transform: uppercase;
  text-align: left;
  padding-block: 0.8rem;
}
.slider .line:first-child {
  animation: anim 10s infinite;
}

.cctv .content p {
  padding-left: 2rem;
  font-size: 1, 5em;
  margin-top: 5rem;
  color: #f5f5f5;
}

.cctv .content .Registrasi {
  margin: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #050e1b;
  background-color: skyblue;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  z-index: 500;
}
.cctv .content .Registrasi:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@keyframes anim {
  0% {
    margin-top: 0;
  }

  16% {
    margin-top: -60px;
  }

  33% {
    margin-top: -120px;
  }

  50% {
    margin-top: -180px;
  }

  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0px;
  }
}
 */
/* hero end */

/* konten 1 start */
.grid-konten1 {
  display: grid;
  background: linear-gradient(-50deg, #007bff 40%, white 60%);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  border-radius: 1.2rem;
  align-items: center;
  padding: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: -3rem;
  box-shadow: 0 0 15px black;
  z-index: 2;
}
.grid-konten1 .judul-konten1 {
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #050e1b;
  font-size: 1.5rem;
}
.judul-konten1 h2 {
  color: #050e1b;
}
.grid-konten1 .judul-konten1 p {
  font-size: 0.8rem;
  color: #050e1b;
}
.grid-konten1 .kontak-konten1 {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}
.grid-konten1 .kontak-konten1 i {
  margin-left: 1rem;
  color: #050e1b;
  margin-right: 0.5rem;
}
.grid-konten1 .kontak-konten1 span {
  color: #050e1b;
}

/* konten 1 end */
/* konten 2 start */
.ragam-konten3 {
  overflow: hidden;
}
.container {
  position: relative;
  width: 250px;
  height: 250px;
  margin-right: 5rem;
}

.container img {
  position: absolute;
  margin-top: 15.3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); */
  transition: all 1s ease-in-out;
}

.container img:hover {
  transform: scale(1.05);
}

/* Posisi diamond */
.top {
  top: -100%;
  left: 0;
}

.right {
  top: 0;
  left: 100%;
}

.bottom {
  top: 100%;
  left: 0;
}

.left {
  top: 0;
  left: -100%;
}
.konten3 {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 3px solid black;
  background: linear-gradient(50deg, #007bff 55%, white 40%);
  border-radius: 3rem;
  display: flex;
}
.konten3-container {
  margin: 4rem;
  margin-right: 1rem;
  justify-content: center;
  text-align: center;
}
.konten3-container h2 {
  color: #050e1b;
  font-weight: bold;
  padding-top: 2.5rem;
}
.konten3-container p {
  color: #050e1b;
}
.produck p {
  font-size: 0.8rem;
  margin-top: -1rem;
}
.grid-konten3 {
  background-color: #050e1b;
  border-radius: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: left;
}
.grid-konten3 i {
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end konten 2 */
/* konten 3 start */
.p p {
  color: black;
  font-size: 15px;
  display: flex;
  margin-top: -3.5rem;
  margin-left: 45%;
}
.line-with-text {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  text-align: center;
  width: 100%; /* Lebar garis dan teks */
}

/* Garis sebelum teks */
.line-with-text::before {
  content: "";
  flex-grow: 1; /* Membuat garis mengisi sisa ruang */
  border-top: 2px solid #333; /* Garis solid */
  margin-right: 1px; /* Jarak antara garis dan teks */
}

/* Garis setelah teks */
.line-with-text::after {
  content: "";
  flex-grow: 1; /* Membuat garis mengisi sisa ruang */
  border-top: 2px solid #333; /* Garis solid */
  margin-left: 1px; /* Jarak antara garis dan teks */
}

/* Teks di tengah garis */
.line-text {
  font-size: 30px;
  font-weight: bold;
  color: #050e1b; /* Latar belakang untuk memotong garis */
  padding: 0 10 px;
  /* Memberi ruang di kiri dan kanan teks */
}
/* Memberi ruang di kiri dan kanan teks */

.pilihan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.5rem, 1fr));
  gap: 1rem;
  margin: 2rem 1rem;
}
.produck {
  border-radius: 1rem;
  background-color: aliceblue;
  padding-bottom: 1rem;
  text-align: center;
  border: 2px solid #050e1b;
  overflow: hidden; /* To ensure no content spills outside */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produck button {
  justify-content: center;
  width: 50%;
  bottom: 1rem;
  text-align: center;
  height: 30px;
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 0.7rem;
  background-color: #050e1b;
  display: inline-block;
  color: skyblue;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.produck button:hover {
  background-color: #0056b3;
}
.pilihan-custom {
  margin-top: 2.5rem;
  margin-left: 1rem;
  width: 15rem;
}
@keyframes neonBorderAnimation {
  0% {
    border-image-source: linear-gradient(45deg, #ff007a, #00ffff, #ff007a);
  }
  50% {
    border-image-source: linear-gradient(45deg, #00ffff, #ff007a, #00ffff);
  }
  100% {
    border-image-source: linear-gradient(45deg, #ff007a, #00ffff, #ff007a);
  }
}
.produck:hover {
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #ff007a, #00ffff, #ff007a);
  border-image-slice: 1;
  animation: neonBorderAnimation 2s infinite;
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}
.produck img {
  width: 100%;
  object-fit: cover;
  border-bottom: #0056b3 solid 0.15rem;
}
.produck .content {
  text-align: left;
}
.produck .content h4,
h3 {
  color: #050e1b;
  padding: 0.5rem 1rem;
}
.more {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 41.5%;
  background-color: #050e1b;
  color: skyblue;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more:hover {
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #ff007b00, #00ffff, #ff007b00);
  border-image-slice: 1;
  animation: neonBorderAnimation 2s infinite;
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}
.fade-in,
.slide-left,
.slide-right {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.fade-in.show,
.slide-left.show,
.slide-right.show {
  opacity: 1;
  transform: translateY(0);
}
.Contact h2 {
  color: #050e1b;
  text-align: center;
  font-size: 3rem;
  margin-top: 7rem;
}
.Contact .row {
  box-shadow: 0 0 40px black;
  display: grid;
  width: 95%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 1.5rem;
  background: linear-gradient(-50deg, #007bff 5%, white 95%);
  height: max-content;
  border-radius: 2em;
}
.Contact .row .maps {
  flex: 1 1 45rem;
  box-shadow: 0 0 40px black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em;
}
.Contact .row form {
  flex: 1 1 45rem;
  padding: 1rem 2rem;
  text-align: center;
}
.Contact .row form .logo {
  width: 35%;
}
.Contact .row form .input-grup {
  display: flex;
  border-radius: 1rem;
  align-items: center;
  margin-top: 1rem;
  background-color: white;
  border: 1px solid white;
  padding-left: 1rem;
}
.Contact .row form .input-grup input {
  width: 100%;
  right: 0;
  padding: 1rem;
  font-size: 1, 5rem;
  background: none;
  color: black;
}
.Contact .row form .btn {
  margin-top: 1rem;
  display: inline;
  padding: 1rem 3rem;
  color: black;
  background-color: white;
  cursor: pointer;
  border-radius: 3rem;
}
.Contact .row form .btn p {
  font-size: 0.8rem;
  position: absolute;
  padding-right: 1rem;
  margin: -0.5rem -2rem;
  color: #050e1b;
}
.Contact .row form .btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: skyblue;
  color: black;
}
.grid-konten1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  border-radius: 1.2rem;
  align-items: center;
  padding: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 0 15px black;
}
.grid-konten1 .judul-konten1 {
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #050e1b;
  font-size: 1.5rem;
}
.judul-konten1 h2 {
  color: #050e1b;
}
.grid-konten1 .judul-konten1 p {
  font-size: 0.8rem;
  color: #050e1b;
}
.grid-konten1 .kontak-konten1 {
  text-align: center;
  width: 100%;
  font-size: 1rem;
}
.grid-konten1 .kontak-konten1 i {
  margin-left: 1rem;
  color: whitesmoke;
  margin-right: 0.5rem;
}
.grid-konten1 .kontak-konten1 span {
  color: whitesmoke;
}

/* konten 3 end */
/* footer start */
footer {
  background-color: #050e1b;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  margin: 1rem;
  color: white;
}
footer .social a:hover {
  color: white;
}
footer .links {
  margin-bottom: 1.5rem;
}
footer .links a {
  color: white;
  padding: 4rem 1rem;
}
footer .links a:hover {
  color: white;
}
footer .credit a {
  color: white;
  font-size: 10px;
}
/* footer end */
/* responsiv start */
@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
  #hamburger {
    display: flex;
  }
  .hamburger.showx .x {
    opacity: 1;
    transform: rotate(90deg);
  }
  .hamburger.showx .bar {
    opacity: 0;
  }
  .x {
    opacity: 0;
  }
  .navbar .navbar-nav {
    display: block;
    text-align: left;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #050e1b;
    width: 80%;
    height: 100vh;
    z-index: 2;
    transition: 1.5s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    list-style: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .dropdown {
    color: silver;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #16fafb;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
  .dropdown-content {
    display: none;
    position: relative;
  }
  .dropdown button {
    font-size: 2rem;
  }
  .cctv {
    min-height: 70vh;
    background-size: contain;
    box-sizing: border-box;
  }
  .cctv .content .slider .line {
    padding-block: 1.3rem;
  }
  .grid-konten1 .kontak-konten1 {
    font-size: 0.8rem;
  }
  .p p {
    color: black;
    font-size: 15px;
    display: flex;
    margin-top: -4.5rem;
    margin-left: 42.5%;
    margin-bottom: 5rem;
  }
  .more {
    margin-left: 42%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 75%;
  }
  #hamburger {
    display: flex;
  }
  .hamburger.showx .x {
    opacity: 1;
    color: #0056b3;
    transform: rotate(90deg);
  }
  .hamburger.showx .bar {
    opacity: 0;
  }
  .x {
    opacity: 0;
  }
  .navbar .navbar-nav {
    display: block;
    text-align: left;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #050e1b;
    width: 80%;
    height: 100vh;
    z-index: 2;
    transition: 1.5s;
  }
  .navbar-nav ul {
    display: block;
  }
  .navbar-nav li {
    list-style: none;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .dropdown {
    color: silver;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .dropdown-content {
    display: none;
    position: relative;
  }
  .dropdown button {
    font-size: 2rem;
  }
  .cctv {
    min-height: 40vh;
    background-size: contain;
    box-sizing: border-box;
  }
  .cctv .content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .cctv .slider {
    font-size: 1.5rem;
    height: 25px;
  }
  .cctv .content p {
    margin-top: 5rem;
  }
  .cctv .content .slider .line {
    padding-block: 1.3rem;
  }
  .grid-konten1 {
    margin-top: -7.5rem;
  }
  .grid-konten1 .kontak-konten1 {
    font-size: 0.8rem;
  }
  .ragam-konten3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    margin: 2rem;
  }
  .grid-konten3 {
    font-size: 0.8rem;
  }
  .p p {
    margin-top: -4.5rem;
    margin-left: 37%;
  }
  .line-with-text {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
  .more {
    margin-left: 35%;
    background-color: #050e1b;
  }
  @keyframes anim {
    0% {
      margin-top: -10px;
    }

    16% {
      margin-top: -60px;
    }

    33% {
      margin-top: -115px;
    }

    50% {
      margin-top: -170px;
    }

    66% {
      margin-top: -115px;
    }
    82% {
      margin-top: -60px;
    }
    100% {
      margin-top: -10px;
    }
  }
}
/* responsiv end */
/* animasi start */
/* animasi end */
